* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: rgb(253, 251, 251);
}

h2 , th {
  text-align: center;
  color: rgb(104, 104, 104);
}

p , li , td {
  color: rgb(134, 134, 134);
}

h1 {
  line-height: normal;
}

#cabecalho {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
}

#titulo {
  color: white;
  text-align: center;
}

#menu ul {
  padding: 0;
  text-align: center;
}

#menu ul li {
  font-size: x-large;
  font-weight: 700;
  padding: 20px;
  display: inline-block;
}

#menu ul li a:not( :hover ) {
  color: rgb(119, 103, 133);
  transition: 1s;
}

#menu ul li a:hover {
  color: rgb(193, 117, 255);
  transition: 0.5s;
}

#conteudo-principal {
  text-align: center;
}

#minha_foto:not( :hover ) {
  width: 200px;
  margin-top: 300px;
  border-radius: 20px;
  border: 3px solid rgb(119, 103, 133);
  transition: 1s;
}

#minha_foto:hover {
  width: 250px;
  margin-top: 300px;
  border-radius: 20px;
  border: 3px solid rgb(193, 117, 255);
  transition: 1s;
}

#redes_sociais ul {
  padding: 0;
  list-style: none;
}

#redes_sociais ul li {
  font-size: large;
  font-weight: 700;
  padding: 20px;
  display: inline-block;
}

#redes_sociais ul li a:not( :hover ) {
  color: rgb(119, 103, 133);
  transition: 1s;
}

#redes_sociais ul li a:hover {
  color: rgb(193, 117, 255);
  transition: 1s;
}

#secao-dados {
  margin-top: 100px;
}

#secao-licoes {
  margin-top: 100px;
}

#tabela {
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#tabela th , td {
  padding: 20px;
  border: 1px solid black;
}

#licoes_aprendidas {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  display: inline-block;
}

#licoes_a_aprender {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  display: inline-block;
}

#conteudo-secundario {
  border-top: 1px solid black;
  text-align: center;
}

.lado-esquerdo {
  margin: 100px;
  text-align: justify;
  display: inline-block;
  width: 400px;
}

.lado-direito {
  margin: 100px;
  text-align: justify;
  display: inline-block;
  width: 400px;
}

#rodape {
  background-color: black;
  color: white;
  text-align: center;
}

#direitos {
  text-align: left;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
