* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  background-color: rgb(30, 30, 30);
}

footer {

}

p,
li,
th,
td {
  color: lightgrey;
}

h2 {
  color: lightgrey;
}

a {
  font-size: 20px;
  color: grey;
  transition: color 0.5s;
}

a:hover {
  color: lightgrey;
  transition: color 0.5s;
}

header {
  padding: 20px 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(50 50 50);
}

h1 {
  font-size: 30px;
  margin: 0;
  color: palegreen;
}

#header-menu {
  padding-left: 50px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  border: 3px solid palegreen;
  border-radius: 0 0 50px 0;
}

main {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: palegreen;
}

#contact-menu {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

#section-lessons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lessons {
  margin-top: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.lesson-item {
  color: lightgrey;
}


#table {
  margin-top: 100px;
  border-collapse: collapse;
}

#table th, td {
  padding: 20px;
  border: 3px solid lightgrey;
}

#section-data {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aside {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.content {
  max-width: 70%;
}
